.additional-content{
    text-align:left;
    font-family: popins;
    margin-left: 150px;
    margin-top: 9%;
    color: rgb(156, 209, 245);
  }
  .small-image {
    margin-left: 55%;
    margin-top: -30%; 
    width: 26%;
    z-index: 1;
      
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }
  .primary-button1{
    background-color: #007bff;
    color:rgb(255, 255, 255);
    padding: 10px 20px;
    border: 2px solid #007bff;
    cursor:pointer;
    border-radius: 8px;
    margin-left: -1070px;
    font-size: 15px;
  }
  .primary-button1:hover {
    background-color: transparent;
  }
  body{
    background-color: #202d3e;
  }
  .topBlur {
    position: absolute;
    width: 15vw;
    height: 15vw;
    min-width: 100px;
    min-width: 100px;
    top: 30%;
    left: 65%;
    border-radius: 764px;
    background: rgba(85, 114, 169, 0.767);
    filter: blur(150px);
    z-index: 0;
  }