.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 25px;
    padding: 23px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .title {
    color: white;
    font-size: 35px;
    font-weight: 750;
    letter-spacing: 1.px;
    text-transform: uppercase;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .aboutImage {
    width: 35%;
  }
  
  .aboutItems {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 2px;
    background-image: linear-gradient(
      90deg,
      rgba(165, 215, 232, 0.42) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }
  
  .aboutItem:hover {
    background-size: 100% 100%;
  }
  
  .aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
    color: #9DB2BF;
  }
  
  .aboutItem p {
    font-size: 17px;
    font-family: 'Trebuchet MS';
  }
  
  .aboutItem img{
      width: 10%;
      height: 5%;
  }
  
  @media screen and (max-width: 700px) {
    .container {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }
  
    .content {
      flex-direction: column;
    }
  
    .aboutImage {
      display: none;
    }
  
    .aboutItems {
      margin-top: 29px;
    }
  
    .aboutItem {
      padding-left: 0;
      padding-right: 0;
    }
  }